@mixin content-box($width: 1000px, $height:500px) {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    width: $width;
    height: $height;
    margin: 2rem auto;
    padding: 1rem 3rem;
    hr {
        margin-top: 30px;
        opacity: 75%;
        border: 0.5px solid #000000;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    }
}

@mixin app-form() {
    margin: 0 0 1rem 0.75rem;
    button {
        font-size: 1rem;
        margin-left: 1rem;
        border-radius: 0;
    }
    input, select {
        padding: 5px;
    }
}
